:root {
  --Dark-navy: #1a2a33;
  --Semi-dark-navy: #1f3641;
  --Silver: #a8bfc9;
  --Light-yellow: #f2b137;
  --Light-blue: #31c3bd;
  --Light-yellow-hover: #ffc860;
  --Light-blue-hover: #65e9e4;
  --On-hover-transition: 250ms ease-in-out;
  --Cell-size: 140px;
  --Mark-size: calc(var(--Cell-size) * 0.7);
  --X-mark: url(./images/icon-x.svg);
  --X-mark-hover: url(./images/icon-x-outline.svg);
  --Circle-mark: url(./images/icon-o.svg);
  --Circle-mark-hover: url(./images/icon-o-outline.svg);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 0;
  background: var(--Dark-navy);
  justify-content: center;
  align-items: center;
  font-family: "Outfit", sans-serif;
  font-feature-settings: "clig" off, "liga" off;
  height: 100vh;
}

img {
  width: fit-content;
  height: 32px;
}

header {
  background-color: var(--Dark-navy);
  width: 100%;
  text-align: center;
}

button {
  width: 460px;
  height: 67px;
  flex-shrink: 0;
  transition: var(--On-hover-transition);
  border: none;
  cursor: pointer;
}

button.restart-button {
  padding: 0;
}

#game-end-message.show,
#restart-game-message.show,
#game-tied-message.show {
  display: flex;
}

#game-tied-message h1 {
  margin-top: 0;
}

#main-content,
#game-board {
  justify-content: center;
  align-content: center;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.secondary-container {
  display: flex;
  flex-direction: column;
  width: 460px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: white;
  background: var(--Dark-navy);
}

.third-container {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  height: 72px;
  padding: 0 8px 0 8px;
  justify-content: center;
  align-items: center;
  background: var(--Dark-navy);
  border-radius: 10px;
}

.pick-player-button {
  display: flex;
  width: fit-content;
  height: 54px;
  border: none;
  padding: 0;
  background: none;
  justify-content: center;
  align-items: center;
}

.pick-player-container {
  margin: 40px auto;
  background: var(--Semi-dark-navy);
  border-radius: 15px;
  padding: 8px auto;
  box-shadow: 0px -8px 0px 0px #10212a inset;
}

.icon-x,
.icon-o {
  width: 198px;
  border-radius: 10px;
  height: 54px;
  font-family: "Mochiy Pop One", sans-serif;
  margin: 0;
  padding-bottom: 15px;
  font-size: 40px;
  color: var(--Silver);
  transition: var(--On-hover-transition);
}

.light-background {
  background: var(--Silver);
  color: var(--Dark-navy);
}

.dark-background {
  background: var(--Dark-navy);
  color: var(--Silver);
}

.turnButton-color {
  filter: brightness(0) saturate(100%) invert(80%) sepia(17%) saturate(264%)
    hue-rotate(153deg) brightness(91%) contrast(92%);
  width: 20px;
  height: 20px;
}

.icon-x:hover:not(.light-background),
.icon-o:hover:not(.light-background) {
  background: var(--Semi-dark-navy);
}

.header {
  color: var(--Silver);
  text-transform: uppercase;
  margin: 30px auto;
}

.font-one {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 24px auto;
}

.font-two {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.875px;
  opacity: 0.5;
  margin: 17px 0 30px 0;
}

.button-yellow {
  border-radius: 15px;
  background: var(--Light-yellow);
  box-shadow: 0px -8px 0px 0px #cc8b13 inset;
  margin-bottom: 20px;
}

.button-yellow:hover {
  background: var(--Light-yellow-hover);
}

.button-blue {
  border-radius: 15px;
  background: var(--Light-blue);
  box-shadow: 0px -8px 0px 0px #118c87 inset;
}

.button-blue:hover {
  background: var(--Light-blue-hover);
}

.button-font {
  color: var(--Dark-navy);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}

.game-board-grid > *,
.score-board,
.game-board-navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px;
  gap: 20px;
}

.score-board {
  margin: 0 0 20px 0;
}

.game-board-grid span {
  display: flex;
  width: var(--Cell-size);
  height: var(--Cell-size);
  border-radius: 15px;
  background: var(--Semi-dark-navy);
  box-shadow: 0px -8px 0px 0px #10212a inset;
  cursor: pointer;
}

.navbar-item {
  width: 100%;
  text-align: center;
}

.navbar-logo {
  display: flex;
  text-align: start;
  align-items: center;
}

.turn-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.turn-button p {
  margin: 0;
}

.turn-button {
  display: inline-flex;
  width: 140px;
  height: 52px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: var(--Semi-dark-navy);
  box-shadow: 0px -4px 0px 0px #10212a inset;
  color: var(--Silver);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: normal;
  text-transform: uppercase;
}

.restart-button {
  width: 100%;
  height: 52px;
  text-align: end;
  background: var(--Dark-navy);
}

.restart-button:hover {
  cursor: default;
}

.restart-button img {
  width: 52px;
  height: 52px;
}

.restart-button img:hover {
  cursor: pointer;
}

.score-board-item {
  display: flex;
  width: 140px;
  height: 72px;
  border-radius: 15px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: var(--Dark-navy);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.875px;
  text-transform: uppercase;
}

.score-item {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  height: 56px;
  justify-content: center;
  align-items: center;
}

.score-item p {
  margin: 0;
}

.player-one-container {
  background: var(--Light-blue);
}

.ties-score-container {
  background: var(--Silver);
}

.player-two-container {
  background: var(--Light-yellow);
}

.number-score {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 1.5px;
}

.game-end-message,
.restart-game-message,
.game-tied-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-end-container,
.restart-game-container,
.game-tied-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 266px;
  flex-direction: column;
  background: var(--Semi-dark-navy);
}

.game-end-container p,
.restart-game-container p,
.game-tied-container p {
  font-size: 16px;
  color: var(--Silver);
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
}

.game-end-container h1 {
  color: var(--Light-yellow);
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.restart-game-container h1 {
  color: var(--Silver);
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin: 23px 0 31px 0;
}

.game-tied-container h1 {
  color: var(--Silver);
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin: 23px 0 31px 0;
}

.quit-button,
.quit-tied-button {
  width: 76px;
  height: 52px;
  border-radius: 10px;
  background: var(--Silver);
  color: var(--Dark-navy);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-right: 16px;
  box-shadow: 0px -4px 0px 0px #6b8997 inset;
}

.cancel-restart-button {
  width: 139px;
  height: 52px;
  border-radius: 10px;
  background: var(--Silver);
  color: var(--Dark-navy);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-right: 16px;
  box-shadow: 0px -4px 0px 0px #6b8997 inset;
}

.next-round-button,
.next-round-tied-button,
.confirm-restart-button {
  width: 146px;
  height: 52px;
  border-radius: 10px;
  background: var(--Light-yellow);
  box-shadow: 0px -4px 0px 0px #cc8b13 inset;
  color: var(--Dark-navy);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#x-aiPlayer,
#x-humanPlayer {
  background-image: var(--X-mark);
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
}

#circle-aiPlayer,
#circle-humanPlayer {
  background-image: var(--Circle-mark);
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
}

.game-end-header-large img {
  width: 64px;
  height: 64px;
}
@media only screen and (max-width: 576px) {
  .secondary-container {
    width: fit-content;
  }

  .pick-player-container {
    width: 327px;
    height: fit-content;
    position: relative;
  }

  .pick-players {
    width: 279px;
    height: 72px;
  }

  .pick-player-button {
    width: 100%;
  }

  .button-yellow,
  .button-blue {
    height: 56px;
    width: 327px;
  }

  .game-board-grid {
    margin-top: 70px;
  }

  .game-board-navbar .navbar-item {
    width: 96px;
    height: 40px;
  }

  .turn-button {
    width: 96px;
    height: 40px;
    font-weight: normal;
  }

  .game-board-grid span {
    width: 96px;
    height: 96px;
  }

  .score-board-item {
    width: 96px;
    height: 64px;
  }

  .game-end-container h1 {
    font-size: 1.7em;
    margin: 25px 25px;
  }

  .game-end-buttons {
    margin-top: 10px;
  }

  #x-aiPlayer,
  #x-humanPlayer,
  #circle-aiPlayer,
  #circle-humanPlayer {
    background-size: 40px 40px;
  }

  .restart-button img {
    width: 40px;
    height: 40px;
  }

  .turnButton-color {
    width: 16px;
    height: 16px;
  }

  .game-end-header-large img {
    width: 32px;
    height: 32px;
  }
}
/* @media screen and (min-width: 600px) and (orientation: landscape) {
  body {
    color: blue;
  }
} */
